@font-face {
    font-family: "font-black";
    src: url("../../assets/fonts/YekanBakhFaNum-Black.ttf");
}

@font-face {
    font-family: "font-bold";
    src: url("../../assets/fonts/YekanBakhFaNum-Bold.ttf");
}

@font-face {
    font-family: "font-regular";
    src: url("../../assets/fonts/YekanBakhFaNum-Regular.ttf");
}

@font-face {
    font-family: "font-extra-black";
    src: url("../../assets/fonts/YekanBakhFaNum-ExtraBlack.ttf");
}

@font-face {
    font-family: "font-extra-bold";
    src: url("../../assets/fonts/YekanBakhFaNum-ExtraBold.ttf");
}

@font-face {
    font-family: "font-semi-bold";
    src: url("../../assets/fonts/YekanBakhFaNum-SemiBold.ttf");
}

@font-face {
    font-family: "font-thin";
    src: url("../../assets/fonts/YekanBakhFaNum-Thin.ttf");
}

@font-face {
    font-family: "font-light";
    src: url("../../assets/fonts/YekanBakhFaNum-Light.ttf");
}

.fontBlack {
    font-family: "font-black", sans-serif !important;
}

.fontBold {
    font-family: "font-bold", sans-serif !important;
}

.fontRegular {
    font-family: "font-regular", sans-serif !important;
}

.fontExtraBlack {
    font-family: "font-extra-black", sans-serif !important;
}

.fontExtraBold {
    font-family: "font-extra-bold", sans-serif !important;
}

.fontSemiBold {
    font-family: "font-semi-bold", sans-serif !important;
}

.fontThin {
    font-family: "font-thin", sans-serif !important;
}

.fontLight {
    font-family: "font-light", sans-serif !important;
}